Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

.lintstagedrc:

{
  "*": [
    "pretty-quick --staged"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings 0"
  ],
  "*.{ts,tsx}": [
    "tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts"
  ]
}

Deploying to gh-pages from @ mkosir/react-parallax-tilt@5a9cd744a0501214fa983bfa3315eac15509d1e8 🚀
  209.17cff4c484c4787590dd.manager.bundle.js
  209.4e3dade95f4ed47b152c.manager.bundle.js
  209.4e3dade95f4ed47b152c.manager.bundle.js.LICENSE.txt
  901.1819ab02.iframe.bundle.js
  901.1819ab02.iframe.bundle.js.LICENSE.txt
  901.9ddd276c.iframe.bundle.js
  iframe.html
  index.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

fix(deps): update TypeScript
  package-lock.json
  package.json
Due: pretty-quick --staged

fix(deps): update TypeScript
  package-lock.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@232ec5f48a549a1c63ee6520353126bc0c4daa98 🚀
  209.070f98fc1e872acbae52.manager.bundle.js
  209.070f98fc1e872acbae52.manager.bundle.js.LICENSE.txt
  209.4e3dade95f4ed47b152c.manager.bundle.js
  256.049e9d8a457d8cc567b4.manager.bundle.js
  441.82e9b742ba2e721a253d.manager.bundle.js
  441.82e9b742ba2e721a253d.manager.bundle.js.LICENSE.txt
  468.983d3e5d579823843fca.manager.bundle.js
  521.a0ca0c46c8fd4a187197.manager.bundle.js
  521.a0ca0c46c8fd4a187197.manager.bundle.js.LICENSE.txt
  528.f744c76da0759cc61110.manager.bundle.js
  542.8d98dbb0ec3c2edaa6ad.manager.bundle.js
  675.4ae85296f28815373d12.manager.bundle.js
  744.b622dbbaa067d8294363.manager.bundle.js
  744.b622dbbaa067d8294363.manager.bundle.js.LICENSE.txt
  752.2d0416950d233524bf01.manager.bundle.js
  901.1819ab02.iframe.bundle.js
  901.1a245979.iframe.bundle.js
  901.1a245979.iframe.bundle.js.LICENSE.txt
  974.41c002021eb92c2d48d8.manager.bundle.js
  iframe.html
  index.html
  project.json
  runtime~main.0996e8ba67808c76b2db.manager.bundle.js
  runtime~main.156b232ed1ea60865b74.manager.bundle.js
Due: pretty-quick --staged, eslint --max-warnings 0

chore(jest): increase test coverage threshold
  jest.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Notes added by 'git notes add'
  8c/323836a52bf6d056ae2391f5f4dee05a1eace4
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@8c323836a52bf6d056ae2391f5f4dee05a1eace4 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  db/dc9699308c6bbb35e2d004556816cad1026ccd
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@dbdc9699308c6bbb35e2d004556816cad1026ccd 🚀
  142.964350967aeb12e68c60.manager.bundle.js
  142.964350967aeb12e68c60.manager.bundle.js.LICENSE.txt
  209.070f98fc1e872acbae52.manager.bundle.js
  209.389cb35c59fa692d6359.manager.bundle.js
  209.389cb35c59fa692d6359.manager.bundle.js.LICENSE.txt
  272.ff91435d8968ebce0fac.manager.bundle.js
  272.ff91435d8968ebce0fac.manager.bundle.js.LICENSE.txt
  32.840e5cef02800c9bfb51.manager.bundle.js
  441.82e9b742ba2e721a253d.manager.bundle.js
  521.a0ca0c46c8fd4a187197.manager.bundle.js
  542.8d98dbb0ec3c2edaa6ad.manager.bundle.js
  566.83729665b505bf825778.manager.bundle.js
  566.83729665b505bf825778.manager.bundle.js.LICENSE.txt
  725.f97892125c53d7ad6abf.manager.bundle.js
  744.b622dbbaa067d8294363.manager.bundle.js
  752.2d0416950d233524bf01.manager.bundle.js
  901.1a245979.iframe.bundle.js
  901.ed5b3371.iframe.bundle.js
  901.ed5b3371.iframe.bundle.js.LICENSE.txt
  iframe.html
  index.html
  project.json
  runtime~main.0996e8ba67808c76b2db.manager.bundle.js
  runtime~main.99bab591ce5ce28b568d.manager.bundle.js
Due: pretty-quick --staged, eslint --max-warnings 0

chore(deps): update TypeScript
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@dfcf4b4eb6079289554645f51b0c85e80d28de6b 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@7295c30743bf8bf6189eb2dda0679923ffbef3d2 🚀
  209.389cb35c59fa692d6359.manager.bundle.js
  209.3a5506fa15a004dbfed8.manager.bundle.js
  209.3a5506fa15a004dbfed8.manager.bundle.js.LICENSE.txt
  901.b7dfabce.iframe.bundle.js
  901.b7dfabce.iframe.bundle.js.LICENSE.txt
  901.ed5b3371.iframe.bundle.js
  iframe.html
  index.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@86dded8ececac7dada5d67abf45acb68a48646c7 🚀
  209.3a5506fa15a004dbfed8.manager.bundle.js
  209.40405b96001fd599ce32.manager.bundle.js
  209.40405b96001fd599ce32.manager.bundle.js.LICENSE.txt
  566.363463a37240973c4e91.manager.bundle.js
  566.363463a37240973c4e91.manager.bundle.js.LICENSE.txt
  566.83729665b505bf825778.manager.bundle.js
  901.46db661f.iframe.bundle.js
  901.46db661f.iframe.bundle.js.LICENSE.txt
  901.b7dfabce.iframe.bundle.js
  iframe.html
  index.html
  project.json
  runtime~main.99bab591ce5ce28b568d.manager.bundle.js
  runtime~main.ddce520bf065e1f23938.manager.bundle.js
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@3cc9e308b4d39ca58aa660f0c6dc5be601edf1a0 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@32d2162b2a227d1a39ec27ff5f1b30b2593c3ba4 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@fda916edc6b79cee54ed7567b429d82af1d5fb18 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@d04fb758fd85816ead4cffce346d9443646c77ba 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  f8/c5be79ceb129e2bfcf9b43b0a21db85f5d96ea
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@f8c5be79ceb129e2bfcf9b43b0a21db85f5d96ea 🚀
  209.40405b96001fd599ce32.manager.bundle.js
  209.8fff747c0de9db4f2124.manager.bundle.js
  209.8fff747c0de9db4f2124.manager.bundle.js.LICENSE.txt
  901.46db661f.iframe.bundle.js
  901.5dcffb79.iframe.bundle.js
  901.5dcffb79.iframe.bundle.js.LICENSE.txt
  iframe.html
  index.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@764449a4899a059205d2344daadf1cb7597df264 🚀
  project.json
Due: pretty-quick --staged

chore: upgrade Husky to 8.x
  .husky/commit-msg
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@bb7bdf24ffd6431cc2edbe4c0418dddaafb0cf46 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@a8327ddfc7b9caf287dc0395239fd1463cc5f866 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@ace50d33b3042313287823fcb13d9668d3b87d7a 🚀
  project.json
Due: pretty-quick --staged
