Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@73c8977f835adc2f50d040fecdb60c6ef37a289f 🚀
  iframe.html
  main.8242622a.iframe.bundle.js
  main.8242622a.iframe.bundle.js.LICENSE.txt
  main.a768e4dd.iframe.bundle.js
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

fix(deps): update TypeScript
  package-lock.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  9d/793d451d469f591331d5b6054c638dd53d6771
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@9d793d451d469f591331d5b6054c638dd53d6771 🚀
  iframe.html
  main.8242622a.iframe.bundle.js
  main.f3cf35ce.iframe.bundle.js
  main.f3cf35ce.iframe.bundle.js.LICENSE.txt
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

chore(deps): update TypeScript
  package.json
Due: pretty-quick --staged

chore: upgrade Storybook to 6.x
  .storybook/main.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore: refactor glare effect
  src/react-parallax-tilt/ReactParallaxTilt.tsx
  src/react-parallax-tilt/types.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@ab5f4218bbc4f5ec6a0e2a147d1c1d6f4bc41247 🚀
  project.json
Due: pretty-quick --staged

chore(eslint): update import rules
  .eslintrc
Due: pretty-quick --staged

chore: refactor glare effect
  src/features/glare/Glare.ts
  src/features/tilt/Tilt.ts
  src/react-parallax-tilt/ReactParallaxTilt.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore: update size
  .size-snapshot.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@b2f7b2720ca82ccb21f034d207c5a121d3cbd880 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@271dee39503a4218057d589959361063ff8d341d 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
Due: pretty-quick --staged

build(rollup): remove node-resolve config
  rollup.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@a5c20ed22e653ffc2fb55b67dcb85fc18c1d2511 🚀
  project.json
Due: pretty-quick --staged

chore: refactor glare effect
  src/features/glare/Glare.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@03be00fbf8314cea670a6436a5b5359d7da0ca98 🚀
  project.json
Due: pretty-quick --staged

chore: refactor glare effect
  src/features/glare/test/glare.test.tsx
  src/features/tilt/test/tiltAxis.test.tsx
  src/features/tilt/test/tiltManualAngle.test.tsx
  src/features/tilt/test/tiltMaxAngle.test.tsx
  src/features/tilt/test/tiltOnPropChange.test.tsx
  src/features/tilt/test/tiltReverse.test.tsx
  src/features/tilt/test/tiltTrackOnWindow.test.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore: refactor glare effect
  src/react-parallax-tilt/types.public.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

docs(readme): update props type definitions
  README.md
Due: pretty-quick --staged

chore: refactor glare effect
  src/react-parallax-tilt/ReactParallaxTilt.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore: run demozap on stories
  stories/types/images.d.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore: run demozap on stories
  stories/FlipPage/Page/Page.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@1f45bda5de0e3f03c177496b12c258029f33cd14 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  af/eb2520dffb0260d5ab9aab7bbe247cac280227
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@afeb2520dffb0260d5ab9aab7bbe247cac280227 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@6bc8156f51da0dd8f535347e2816944f67cba287 🚀
  project.json
Due: pretty-quick --staged

chore: upgrade CI to Node v16
  .github/workflows/build-rollup.yml
Due: pretty-quick --staged

Path conditions:
  pretty-quick --staged: any of: *
  eslint --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts: any of: *.{ts,tsx}
