Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

.lintstagedrc:

{
  "*": [
    "pretty-quick --staged"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings 0"
  ],
  "*.{ts,tsx}": [
    "tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts"
  ]
}

Deploying to gh-pages from @ mkosir/react-parallax-tilt@cddafb60f5195d565eca994a2c37278001773399 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@7b4b96a029d16c946a6cfd96cab687b27c5824d6 🚀
  project.json
Due: pretty-quick --staged

chore: update react-joystick-component usage for new output structure
  stories/TiltManualInput/TiltManualInput.demozap.tsx
  stories/TiltManualInput/_TiltManualInput.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

fix(deps): update dependencies
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@e09f2cd3825a6c51201f554efef9218c61869ded 🚀
  iframe.html
  main.06922112.iframe.bundle.js
  main.6cb526cc.iframe.bundle.js
  main.6cb526cc.iframe.bundle.js.LICENSE.txt
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

fix(deps): update dependencies
  package-lock.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  7e/28403885194aca4d1a581a27737888d65cc27e
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@7e28403885194aca4d1a581a27737888d65cc27e 🚀
  209.0c57cc9f5a1b909971b1.manager.bundle.js
  209.0c57cc9f5a1b909971b1.manager.bundle.js.LICENSE.txt
  209.d8955b60d539c2b456c4.manager.bundle.js
  355.3ea65b32.iframe.bundle.js
  355.864d7640.iframe.bundle.js
  355.864d7640.iframe.bundle.js.LICENSE.txt
  iframe.html
  index.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@06810e5ec30df5e8c639bc8f9cd76669e33190d6 🚀
  project.json
Due: pretty-quick --staged

fix(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  fe/988ae0aa86744151c7931cdcb9d2281b975e04
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@fe988ae0aa86744151c7931cdcb9d2281b975e04 🚀
  209.0c57cc9f5a1b909971b1.manager.bundle.js
  209.7408c051ef0f9f3513ed.manager.bundle.js
  209.7408c051ef0f9f3513ed.manager.bundle.js.LICENSE.txt
  index.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

chore(deps): update dependencies
  package-lock.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@4c5630bbbf80daeb2fb0bcf804b4d322e34b32ed 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@aa77c639ee12ee24ef08447546fa723edf2a248a 🚀
  209.7408c051ef0f9f3513ed.manager.bundle.js
  209.a15fc3f16e4cdaafbab1.manager.bundle.js
  209.a15fc3f16e4cdaafbab1.manager.bundle.js.LICENSE.txt
  355.6e68a300.iframe.bundle.js
  355.6e68a300.iframe.bundle.js.LICENSE.txt
  355.864d7640.iframe.bundle.js
  iframe.html
  index.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

build(rollup): add source map to typescript plugin
  rollup.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Notes added by 'git notes add'
  1d/a00ded26c9d4be41bc46fb4790063d4e047dfe
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@1da00ded26c9d4be41bc46fb4790063d4e047dfe 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@35c23cd747953ad4a283b4690a516443df29fe45 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update dependencies
  package.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  d1/ed495f8c1693efab8184885165640cd85c24c2
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@d1ed495f8c1693efab8184885165640cd85c24c2 🚀
  209.a15fc3f16e4cdaafbab1.manager.bundle.js
  209.c78476522c90738b266c.manager.bundle.js
  209.c78476522c90738b266c.manager.bundle.js.LICENSE.txt
  355.1d16965f.iframe.bundle.js
  355.1d16965f.iframe.bundle.js.LICENSE.txt
  355.6e68a300.iframe.bundle.js
  iframe.html
  index.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  54/469b1950f96d88cb584b1aa85f6c2c5cfc4602
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@54469b1950f96d88cb584b1aa85f6c2c5cfc4602 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@5410390f871c652027e4cb8632a85c4a7b6c4bc8 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  03/8521edfaf1713593d3c8193d141752ff64840f
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@038521edfaf1713593d3c8193d141752ff64840f 🚀
  209.5c0bd0dbe2d1208b0413.manager.bundle.js
  209.5c0bd0dbe2d1208b0413.manager.bundle.js.LICENSE.txt
  209.c78476522c90738b266c.manager.bundle.js
  355.1d16965f.iframe.bundle.js
  355.bb05b441.iframe.bundle.js
  355.bb05b441.iframe.bundle.js.LICENSE.txt
  iframe.html
  index.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0
