Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@01e54f2dd4a9f8b91b250405c2b44b392bd622fe 🚀
  project.json
Due: pretty-quick --staged

fix(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@27940e7a1505af3ed643c05230ac890f97b11bcb 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  27/940e7a1505af3ed643c05230ac890f97b11bcb
Due: pretty-quick --staged

build(rollup): import named `dts`
  rollup.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

fix(deps): update dependencies
  package-lock.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  e4/ee56f1d7ae943cea848c3d21d492f8427aa2e0
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@e4ee56f1d7ae943cea848c3d21d492f8427aa2e0 🚀
  project.json
  sb-manager/GlobalScrollAreaStyles-4LLX2B3H-4X3KMH5M.js
  sb-manager/GlobalScrollAreaStyles-DZEYMYDM-MLCKG773.js
  sb-manager/OverlayScrollbars-OGE3XJTA-T3S33YR7.js
  sb-manager/OverlayScrollbars-OL4C4TVX-CEKT2V4K.js
  sb-manager/WithTooltip-SGMXWZWO-HCFC3XFC.js
  sb-manager/WithTooltip-YBG737T3-I4RKVAH5.js
  sb-manager/chunk-3J6GS6FI.js
  sb-manager/chunk-AS2AMEUR.js
  sb-manager/chunk-CBY7LR4Y.js
  sb-manager/chunk-FXGJ2IFE.js
  sb-manager/chunk-JMPBYCHU.js
  sb-manager/chunk-KJEZFYE2.js
  sb-manager/chunk-QHBOEFOL.js
  sb-manager/chunk-QMHPSTMR.js
  sb-manager/chunk-R5BIZIS3.js
  sb-manager/chunk-RKFFWI2D.js
  sb-manager/chunk-SPUAGIB2.js
  sb-manager/chunk-YENCPRB4.js
  sb-manager/chunk-YQDZW3DF.js
  sb-manager/formatter-ZNWCFYAW-7B3BHX32.js
  sb-manager/globals.js
  sb-manager/index.js
  sb-manager/runtime.js
  sb-manager/syntaxhighlighter-2MZ4Y3HO-I2ULF7B3.js
  sb-manager/syntaxhighlighter-4OVWVELQ-YLWIEEMY.js
  sb-preview/runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  7e/b266fc913079d1f024ad7e242a5ddb3b8922ca
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@7eb266fc913079d1f024ad7e242a5ddb3b8922ca 🚀
  project.json
  sb-manager/CRUD-JM54CQ7N-IIGISR5J.js
  sb-manager/Communicate-ILFU4JFX-SW5LX7M2.js
  sb-manager/Devices-OZM56PEU-YWWWQK4B.js
  sb-manager/Documents-DM6I5CUP-XVWSPLXW.js
  sb-manager/Editing-IW5SUF2G-D4JF5XQR.js
  sb-manager/Git-TRL4MCAM-3JEGHK27.js
  sb-manager/GlobalScrollAreaStyles-4LLX2B3H-4X3KMH5M.js
  sb-manager/GlobalScrollAreaStyles-4LLX2B3H-DOBSPBNW.js
  sb-manager/Images-GZQ25EFM-UQPTU7KU.js
  sb-manager/Logos-EOJQS4O3-SJCQKPUS.js
  sb-manager/OS-6JZP22UV-DXEEOXNT.js
  sb-manager/OverlayScrollbars-OL4C4TVX-CEKT2V4K.js
  sb-manager/OverlayScrollbars-OL4C4TVX-FNYA4OIC.js
  sb-manager/People-HEMUKL4R-S77ITYXB.js
  sb-manager/Wayfinding-AUSNPVSH-QFGOSTNT.js
  sb-manager/WithTooltip-YBG737T3-GLWUADFI.js
  sb-manager/WithTooltip-YBG737T3-I4RKVAH5.js
  sb-manager/chunk-3J6GS6FI.js
  sb-manager/chunk-6KNXZZZ5.js
  sb-manager/chunk-DP4DR4LA.js
  sb-manager/chunk-GBCXFRBK.js
  sb-manager/chunk-IFNK3PLJ.js
  sb-manager/chunk-JSPL73I3.js
  sb-manager/chunk-RKFFWI2D.js
  sb-manager/chunk-SJD7EFYL.js
  sb-manager/chunk-V7GYLJLR.js
  sb-manager/chunk-VA3FBNGM.js
  sb-manager/chunk-Z4NRYNHR.js
  sb-manager/formatter-ZNWCFYAW-PTAV2L2P.js
  sb-manager/globals.js
  sb-manager/index.js
  sb-manager/runtime.js
  sb-manager/syntaxhighlighter-4OVWVELQ-5IZ45DZY.js
  sb-manager/syntaxhighlighter-4OVWVELQ-YLWIEEMY.js
Due: pretty-quick --staged, eslint --max-warnings 0

chore(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@02498bf17e708d6a89c1be23feaaf7f58e43efca 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@565a2ce3d296d68aa22f287506e2ec030714e06e 🚀
  project.json
  sb-manager/chunk-AZQPOWW7.js
  sb-manager/index.js
  sb-manager/runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  56/5a2ce3d296d68aa22f287506e2ec030714e06e
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@061708df3eb4b01a34c0232e47ba093896736847 🚀
  project.json
  sb-manager/chunk-7KC7JBAG.js
  sb-manager/formatter-6736J7QO-TGL2ZGQC.js
  sb-manager/index.js
  sb-manager/runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

chore(deps): update dependencies
  package-lock.json
Due: pretty-quick --staged

chore: upgrade Storybook to 7.x
  .storybook/manager.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

fix(deps): update dependencies
  package.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  e8/908dbe2a0ccedc16174565173653b432ec8050
Due: pretty-quick --staged

Notes added by 'git notes add'
  b4/43f749a76a1f610a94da9d1ee3a0041a789473
Due: pretty-quick --staged

Notes added by 'git notes add'
  5c/ed0eac76aaf90eb054799173ae255be0d4c664
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@5ced0eac76aaf90eb054799173ae255be0d4c664 🚀
  index.json
  project.json
  sb-addons/manager-bundle.js
  sb-addons/manager-bundle.js.map
  sb-manager/CRUD-I5EZL2FS-LBZVDZXV.js
  sb-manager/CRUD-JM54CQ7N-IIGISR5J.js
  sb-manager/Communicate-7JXCND2Z-6SIVXWT4.js
  sb-manager/Communicate-ILFU4JFX-SW5LX7M2.js
  sb-manager/Devices-OZM56PEU-YWWWQK4B.js
  sb-manager/Devices-SUYACUPO-DMGV6ENX.js
  sb-manager/Documents-DM6I5CUP-XVWSPLXW.js
  sb-manager/Documents-SGWAY3KW-XZRZ6I6S.js
  sb-manager/Editing-7QFB6ZMG-J5U6QGB6.js
  sb-manager/Editing-IW5SUF2G-D4JF5XQR.js
  sb-manager/Git-DZ2D5ZUL-VKBWYJHE.js
  sb-manager/Git-TRL4MCAM-3JEGHK27.js
  sb-manager/Images-GZQ25EFM-UQPTU7KU.js
  sb-manager/Images-S2WTXNGG-NXAYS4VP.js
  sb-manager/Logos-EOJQS4O3-SJCQKPUS.js
  sb-manager/Logos-SJTNNI74-F3IVL4UV.js
  sb-manager/OS-6JZP22UV-DXEEOXNT.js
  sb-manager/OS-YZ2Y4VYS-KGSGCOHC.js
  sb-manager/People-HEMUKL4R-S77ITYXB.js
  sb-manager/People-OD4EV7WZ-DBPUNUXW.js
  sb-manager/Wayfinding-AUSNPVSH-QFGOSTNT.js
  sb-manager/Wayfinding-BB4H7CHP-N2QAVLVA.js
  sb-manager/chunk-7KC7JBAG.js
  sb-manager/chunk-CENNXEC3.js
  sb-manager/globals.js
  sb-manager/index.js
  sb-manager/runtime.js
  sb-preview/runtime.js
  stories.json
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@7d4057d84952a91d3f7beaa1aa034be01ffd1169 🚀
  146.129c9bfd.iframe.bundle.js
  146.129c9bfd.iframe.bundle.js.LICENSE.txt
  293.52b2294c.iframe.bundle.js
  iframe.html
  main.3079be7d.iframe.bundle.js
  main.525759b9.iframe.bundle.js
  project.json
  sb-addons/manager-bundle.js
  sb-addons/manager-bundle.js.map
  sb-manager/chunk-UBXIQABM.js
  sb-manager/index.js
  sb-manager/runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

Path conditions:
  pretty-quick --staged: any of: *
  eslint --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts: any of: *.{ts,tsx}
