Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

.lintstagedrc:

{
  "*": [
    "pretty-quick --staged"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings 0"
  ],
  "*.{ts,tsx}": [
    "tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts"
  ]
}

fix(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@59c2cccf05e481a57fa3fe1322d859e040ea9ade 🚀
  project.json
  sb-manager/globals-runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  59c2cccf05e481a57fa3fe1322d859e040ea9ade
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@5d708a5d39a94df62d65e0d86572eff1995a868c 🚀
  project.json
  sb-manager/globals-runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  5d708a5d39a94df62d65e0d86572eff1995a868c
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@6a9fc9a44b4688cd22b4dac33b5ac10512fe94d2 🚀
  project.json
  sb-manager/globals-runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  6a9fc9a44b4688cd22b4dac33b5ac10512fe94d2
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@1ef056b9fc5f1d25b539bec691b357fe768c2ed6 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  1ef056b9fc5f1d25b539bec691b357fe768c2ed6
Due: pretty-quick --staged

chore(deps): migrate to Vitest
  .eslintrc.cjs
  jest.config.ts
  jest.setup.ts
  package-lock.json
  package.json
  scripts/setup-tests.ts
  src/features/glare/test/glare.test.tsx
  src/features/glare/test/glareStyle.test.tsx
  src/features/tilt/test/tiltAxis.test.tsx
  src/features/tilt/test/tiltDisable.test.tsx
  src/features/tilt/test/tiltManualAngle.test.tsx
  src/features/tilt/test/tiltMaxAngle.test.tsx
  src/features/tilt/test/tiltOnEnter.test.tsx
  src/features/tilt/test/tiltOnLeave.test.tsx
  src/features/tilt/test/tiltOnPropChange.test.tsx
  src/features/tilt/test/tiltOnTouchMove.test.tsx
  src/features/tilt/test/tiltReset.test.tsx
  src/features/tilt/test/tiltReverse.test.tsx
  src/features/tilt/test/tiltStyle.test.tsx
  src/features/tilt/test/tiltTrackOnWindow.test.tsx
  src/react-parallax-tilt/ReactParallaxTilt.tsx
  tsconfigs/tsconfig.base.json
  vitest.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@2644b7ff182c7babe1c20178cc4d627e36f5bdc6 🚀
  project.json
Due: pretty-quick --staged

fix(deps): update dependencies
  package-lock.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@4dc8cbee272a2aa5193164d218e79b96bd861431 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  4dc8cbee272a2aa5193164d218e79b96bd861431
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@78e466b932717b5d0026839e667eec25d5957ff6 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@34a9fed3cbfea499a07dc01f5722283500182af4 🚀
  project.json
  sb-manager/globals-runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

chore(deps): migrate to eslint v9
  .eslintrc.cjs
  eslint.config.mjs
  package-lock.json
  package.json
  src/react-parallax-tilt/ReactParallaxTilt.tsx
  src/utils/helperFns.ts
  tsconfigs/tsconfig.dev.json
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@1c720403dbc56695924d87bbf0acc6e329ca4752 🚀
  ReactParallaxTilt-stories.7427fcd9.iframe.bundle.js
  ReactParallaxTilt-stories.8e1c51b1.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.211ce35c.iframe.bundle.js
  runtime~main.d7b28be5.iframe.bundle.js
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@0dc376f4c0786ebb13b483e314df8edc1fce7ae4 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  0dc376f4c0786ebb13b483e314df8edc1fce7ae4
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@b2c71b8a48f60775730817388553495c8e8a7318 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@aec509e0a1dd51e30809721ddb2ac6a1093a814e 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@01b11934a757140e12ec34562af2158487e5859b 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@e46db17735f80028dff91e645c95a1cea08b63e1 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@bfe69d80d2d3fc12efe1440b41d01e40d91cee9f 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  bfe69d80d2d3fc12efe1440b41d01e40d91cee9f
Due: pretty-quick --staged
