Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

.lintstagedrc:

{
  "*": [
    "pretty-quick --staged"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings 0"
  ],
  "*.{ts,tsx}": [
    "tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts"
  ]
}

fix(deps): update dependencies
  playwright.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

fix(deps): update dependencies
  playwright.config.ts
  scripts/configs.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

fix(deps): ignore Playwright tests
  jest.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

fix(deps): ignore Playwright tests
  .eslintrc.cjs
Due: pretty-quick --staged

fix(deps): ignore Playwright tests
  e2e/example.spec.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@418e2293035156c33e95e57dbeca433e1b2266a5 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  418e2293035156c33e95e57dbeca433e1b2266a5
Due: pretty-quick --staged

fix(deps): update dependencies
  scripts/configs.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore(deps): update dependencies
  playwright.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

fix(deps): update dependencies
  tsconfigs/tsconfig.base.json
Due: pretty-quick --staged

chore(deps): update dependencies
  .github/workflows/test-e2e.yml
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@ae869b9b09eab27bf7e4588d06aae2357f24e45e 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  ae869b9b09eab27bf7e4588d06aae2357f24e45e
Due: pretty-quick --staged

chore(deps): update dependencies
  .github/workflows/deploy-storybook.yml
Due: pretty-quick --staged

chore(deps): update dependencies
  README.md
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@36460d014e15f9ac482e3ca04ba2a7893ddf9fee 🚀
  project.json
Due: pretty-quick --staged

fix(deps): update dependencies
  package.json
Due: pretty-quick --staged

fix(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@1adf89adf59d596433bc707dc666eab6dc7c80e7 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  1adf89adf59d596433bc707dc666eab6dc7c80e7
Due: pretty-quick --staged

chore(deps): update dependencies
  stories/EventParams/EventParams.demozap.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore(deps): update dependencies
  stories/TiltManualInput/TiltManualInput.demozap.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore(deps): update dependencies
  stories/EventParams/EventParams.demozap.css
  stories/EventParams/EventParams.demozap.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore(deps): update dependencies
  e2e/example.spec.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore(deps): update dependencies
  e2e/example.spec.ts
  stories/EventParams/EventParams.demozap.css
  stories/EventParams/EventParams.demozap.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@0f3afd852f59551350937f61d5ddd7cdb054eb5b 🚀
  ReactParallaxTilt-stories.ba8e0b37.iframe.bundle.js
  ReactParallaxTilt-stories.d820737f.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.3705ab64.iframe.bundle.js
  runtime~main.930e1e48.iframe.bundle.js
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  0f3afd852f59551350937f61d5ddd7cdb054eb5b
Due: pretty-quick --staged

chore(deps): update dependencies
  stories/EventParams/EventParams.demozap.css
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@512d06431eae30e3fefb22c818644de783b604b7 🚀
  ReactParallaxTilt-stories.d820737f.iframe.bundle.js
  ReactParallaxTilt-stories.de646b8c.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.7554df21.iframe.bundle.js
  runtime~main.930e1e48.iframe.bundle.js
Due: pretty-quick --staged, eslint --max-warnings 0
