Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Notes added by 'git notes add'
  94/8a99aba3c96790ccef7ac0c98b1493f6ff00dc
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
  package.json
Due: pretty-quick --staged

chore: run `demozap` on stories
  stories/Default/_Default.tsx
  stories/EventTiltAngle/_EventTiltAngle.tsx
  stories/GlareEffect/_GlareEffect.tsx
  stories/GlareEffect360/_GlareEffect360.tsx
  stories/GlareEffectNoTilt/_GlareEffectNoTilt.tsx
  stories/Gyroscope/_Gyroscope.tsx
  stories/InitialTilt/_InitialTilt.tsx
  stories/KeepFloating/_KeepFloating.tsx
  stories/MultipleTilt/_MultipleTilt.tsx
  stories/MultipleTiltScroll/_MultipleTiltScroll.tsx
  stories/ReverseTilt/_ReverseTilt.tsx
  stories/TiltDisableAxis/_TiltDisableAxis.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@b0b801a3987cbee2bd7e2ae313e4be8ea6149263 🚀
  iframe.html
  main.60805705.iframe.bundle.js
  main.886d78d9.iframe.bundle.js
Due: pretty-quick --staged, eslint --max-warnings 0

chore(deps): update TypeScript
  package-lock.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@ff0cf0e725d660b74d3bf2a110b3de311e62c234 🚀
  196.c97b9eed51a4f83e4644.manager.bundle.js
  196.cb2fa3df6382863e7e0b.manager.bundle.js
  453.299bca15974bab808fdb.manager.bundle.js
  453.299bca15974bab808fdb.manager.bundle.js.LICENSE.txt
  453.c4f903b8044989a69e6f.manager.bundle.js
  536.15e2756fabc304465bae.manager.bundle.js
  536.15e2756fabc304465bae.manager.bundle.js.LICENSE.txt
  536.dabdeecca9c9096871da.manager.bundle.js
  945.4d2f6cdb.iframe.bundle.js
  945.4d2f6cdb.iframe.bundle.js.LICENSE.txt
  945.9be2dcfd.iframe.bundle.js
  952.29305ed1c1ce7a42c1b8.manager.bundle.js
  952.3556136a294aabb684f5.manager.bundle.js
  952.3556136a294aabb684f5.manager.bundle.js.LICENSE.txt
  iframe.html
  index.html
  project.json
  runtime~main.3bd7aaf31027b8e455bf.manager.bundle.js
  runtime~main.70b5957d9500130340cc.manager.bundle.js
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@188caea284284a644ea8b03a108f0e2f0aa2f016 🚀
  project.json
Due: pretty-quick --staged

fix(deps): update TypeScript
  package-lock.json
  package.json
Due: pretty-quick --staged

fix(deps): update TypeScript
  package-lock.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  83/4711d1003e5e31ec5e5756a1e7666a02953073
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@834711d1003e5e31ec5e5756a1e7666a02953073 🚀
  945.4d2f6cdb.iframe.bundle.js
  945.a2f83e1b.iframe.bundle.js
  945.a2f83e1b.iframe.bundle.js.LICENSE.txt
  952.3556136a294aabb684f5.manager.bundle.js
  952.5113d8f0a5a53f5f4a66.manager.bundle.js
  952.5113d8f0a5a53f5f4a66.manager.bundle.js.LICENSE.txt
  iframe.html
  index.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

chore(eslint): update import rules
  .eslintrc
  .eslintrc.js
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@b632e2c4d772cec4dbc0e45782acd54c44ebe8c6 🚀
  project.json
Due: pretty-quick --staged

build(tsconfig): extend base
  tsconfig.base.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@cc8663d18968e49f770f0170d7bdfb5b3a56d3d4 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@96f377b8adf136461361753ebf922f6a16b41a92 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  27/17d64d8608de4e6efaf977c68d96093a0c7e1a
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@2717d64d8608de4e6efaf977c68d96093a0c7e1a 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@2866baebdb3c11f5e2ea761f94b481f2ddfdd506 🚀
  project.json
Due: pretty-quick --staged

build(rollup): remove node-resolve config
  rollup.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore: refactor glare effect
  src/features/glare/Glare.ts
  src/features/glare/test/glare.test.tsx
  src/features/glare/types.public.ts
  src/features/glare/types.ts
  src/features/tilt/Tilt.ts
  src/features/tilt/test/tiltAxis.test.tsx
  src/features/tilt/test/tiltDisable.test.tsx
  src/features/tilt/test/tiltManualAngle.test.tsx
  src/features/tilt/test/tiltMaxAngle.test.tsx
  src/features/tilt/test/tiltOnPropChange.test.tsx
  src/features/tilt/test/tiltOnTouchMove.test.tsx
  src/features/tilt/test/tiltReset.test.tsx
  src/features/tilt/test/tiltReverse.test.tsx
  src/features/tilt/test/tiltTrackOnWindow.test.tsx
  src/features/tilt/types.public.ts
  src/react-parallax-tilt/ReactParallaxTilt.tsx
  src/react-parallax-tilt/defaultProps.ts
  src/react-parallax-tilt/types.public.ts
  src/react-parallax-tilt/types.ts
  src/types.d.ts
  src/utils/TiltTest.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore: run `demozap` on stories
  stories/EventTiltAngle/EventTiltAngle.demozap.tsx
  stories/EventsAll/EventsAll.demozap.tsx
  stories/TiltDisableAxis/TiltDisableAxis.demozap.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Notes added by 'git notes add'
  e0/eeccbcf78d8931aa8021e6fea0f0a3e9a85d0c
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@e0eeccbcf78d8931aa8021e6fea0f0a3e9a85d0c 🚀
  945.54a491cc.iframe.bundle.js
  945.54a491cc.iframe.bundle.js.LICENSE.txt
  945.a2f83e1b.iframe.bundle.js
  952.5113d8f0a5a53f5f4a66.manager.bundle.js
  952.f65ab8e4a9103800dd61.manager.bundle.js
  952.f65ab8e4a9103800dd61.manager.bundle.js.LICENSE.txt
  iframe.html
  index.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

chore: run `demozap` on stories
  stories/EventTiltAngle/_EventTiltAngle.tsx
  stories/EventsAll/_EventsAll.tsx
  stories/TiltDisableAxis/_TiltDisableAxis.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@2bcf554d0043f6027f3d84f95353cf54c404cfa5 🚀
  iframe.html
  main.5410a83c.iframe.bundle.js
  main.60805705.iframe.bundle.js
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

fix(deps): update TypeScript
  package.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  05/4c29fcbeccfee93c0e9fcf72a2438a8a87a847
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@054c29fcbeccfee93c0e9fcf72a2438a8a87a847 🚀
  project.json
Due: pretty-quick --staged

Path conditions:
  pretty-quick --staged: any of: *
  eslint --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts: any of: *.{ts,tsx}
