Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore(deps): update dependencies
  e2e/events.spec.ts
  e2e/on-move-params.spec.ts
  stories/EventParams/EventParams.demozap.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore(deps): update dependencies
  e2e/events.spec.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore(deps): update dependencies
  e2e/events.spec.ts
  playwright.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore(deps): update dependencies
  stories/EventParams/EventParams.demozap.css
  stories/EventParams/EventParams.demozap.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore(deps): update dependencies
  stories/EventParams/EventParams.demozap.css
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@677c566c028fb3a96841faea8478f0225ca2f14f 🚀
  ReactParallaxTilt-stories.de646b8c.iframe.bundle.js
  ReactParallaxTilt-stories.e57ceeb5.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.7554df21.iframe.bundle.js
  runtime~main.eafe637d.iframe.bundle.js
Due: pretty-quick --staged, eslint --max-warnings 0

chore(deps): update dependencies
  playwright.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@0139fcd2b191034aabab0c3da389d976cf9007ab 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@c17d127843ad1ceba52a40f9d57c9ceefb54182a 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@2e3b42eaacce473bcc0205431b63843c067076db 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update dependencies
  package.json
  playwright.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@34bb2909b76783ca424d5cb3026c8fafba377931 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update dependencies
  e2e/consts.ts
  e2e/events.spec.ts
  e2e/global.setup.ts
  e2e/on-move-params.spec.ts
  playwright.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@b0a00a40a81c8805b27ae61965b0f7d2692bf268 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@764617a17d64d04990876a32f7913949bbf98f77 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update dependencies
  stories/Gyroscope/Gyroscope.demozap.tsx
  stories/Gyroscope/_Gyroscope.tsx
  stories/ReactParallaxTilt.stories.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@dcef6019d5e576419ae7e94a06e644f1edb78e98 🚀
  ReactParallaxTilt-stories.07484568.iframe.bundle.js
  ReactParallaxTilt-stories.e57ceeb5.iframe.bundle.js
  iframe.html
  index.json
  project.json
  runtime~main.1cec2fdf.iframe.bundle.js
  runtime~main.eafe637d.iframe.bundle.js
  stories.json
Due: pretty-quick --staged, eslint --max-warnings 0

chore: ignore Playwright tests
  .eslintrc.cjs
Due: pretty-quick --staged

chore(deps): update dependencies
  e2e/global.setup.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@591c470b11826db7393c864ac21bfb44452de844 🚀
  project.json
Due: pretty-quick --staged

chore: ignore Playwright tests
  e2e/global.setup.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@13b5760ab269f64e5b715ea3f28f66d90ab4081a 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update dependencies
  e2e/on-move-params.spec.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@731c7a792e42f1815b3b8a2f0e1de31e45580e38 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@3b5e3582cbe6eb084f0584255faba11166da5332 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@dd2e02a4e0b436c7f9dda55f1137515b6c86cea5 🚀
  project.json
Due: pretty-quick --staged

Path conditions:
  pretty-quick --staged: any of: *
  eslint --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts: any of: *.{ts,tsx}
