Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

.lintstagedrc:

{
  "*": [
    "pretty-quick --staged"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings 0"
  ],
  "*.{ts,tsx}": [
    "tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts"
  ]
}

chore: run `demozap` on stories
  stories/EventParams/EventParams.demozap.scss
  stories/EventParams/EventParams.demozap.tsx
  stories/EventParams/_EventParams.tsx
  stories/EventsAll/EventsAll.demozap.tsx
  stories/EventsAll/_EventsAll.tsx
  stories/ReactParallaxTilt.stories.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

build(rollup): remove node-resolve config
  rollup.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore: run `demozap` on stories
  stories/EventParams/EventParams.demozap.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore(eslint): update import rules
  .eslintrc
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@d2198289728be1c68804c94b9017b70430425dc0 🚀
  iframe.html
  main.2758eff0.iframe.bundle.js
  main.2758eff0.iframe.bundle.js.LICENSE.txt
  main.ea0f31e0.iframe.bundle.js
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

chore: run `demozap` on stories
  stories/EventParams/EventParams.demozap.scss
  stories/EventParams/EventParams.demozap.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@014d28480fd9848d863fe8751c7054f7cdc68cff 🚀
  495.47cd0406.iframe.bundle.js
  495.47cd0406.iframe.bundle.js.LICENSE.txt
  901.b4d7614a.iframe.bundle.js
  iframe.html
  main.2758eff0.iframe.bundle.js
  main.7eb899d2.iframe.bundle.js
  main.7eb899d2.iframe.bundle.js.LICENSE.txt
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@f4ee0175a37f72a3b38d9f2939b8bfa695a41e3d 🚀
  iframe.html
  main.7eb899d2.iframe.bundle.js
  main.8c86181d.iframe.bundle.js
  main.8c86181d.iframe.bundle.js.LICENSE.txt
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@6a311a7f6a59d071080627566483bb66aeeba346 🚀
  iframe.html
  main.8c86181d.iframe.bundle.js
  main.e2f6052d.iframe.bundle.js
  main.e2f6052d.iframe.bundle.js.LICENSE.txt
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@ae8515272bafb078104fcb0ba9211307f64ff939 🚀
  iframe.html
  main.e2f6052d.iframe.bundle.js
  main.f9ee5823.iframe.bundle.js
  main.f9ee5823.iframe.bundle.js.LICENSE.txt
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@cf8a36793a40d1a164e1dac76c68f03b3ef96a12 🚀
  iframe.html
  main.d9dd62f7.iframe.bundle.js
  main.d9dd62f7.iframe.bundle.js.LICENSE.txt
  main.f9ee5823.iframe.bundle.js
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

chore: refactor glare effect
  src/react-parallax-tilt/ReactParallaxTilt.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore: update size
  .size-snapshot.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@d8dd62d03c25774d21b42974224249cdb5d5e2ea 🚀
  project.json
Due: pretty-quick --staged

chore: run `demozap` on stories
  stories/EventParams/_EventParams.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

docs(readme): update props type definitions
  README.md
Due: pretty-quick --staged

chore: upgrade CI to Node v16
  .github/workflows/deploy-storybook.yml
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@2f67239b0e3545c95dea481784b993efabd4f6cb 🚀
  iframe.html
  main.a768e4dd.iframe.bundle.js
  main.a768e4dd.iframe.bundle.js.LICENSE.txt
  main.d9dd62f7.iframe.bundle.js
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@34b0dada536e3e3f6f8cdd09a3a56e577d94a030 🚀
  project.json
Due: pretty-quick --staged

chore: refactor glare effect
  src/features/glare/Glare.ts
  src/features/tilt/Tilt.ts
  src/react-parallax-tilt/ReactParallaxTilt.tsx
  src/react-parallax-tilt/types.ts
  src/utils/types.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@0de6fa0ac7aa7bc135e8d19d320047f145bffff2 🚀
  project.json
Due: pretty-quick --staged

fix(deps): update TypeScript
  package-lock.json
  package.json
Due: pretty-quick --staged

chore: refactor glare effect
  src/react-parallax-tilt/ReactParallaxTilt.tsx
  src/react-parallax-tilt/types.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Notes added by 'git notes add'
  73/c8977f835adc2f50d040fecdb60c6ef37a289f
Due: pretty-quick --staged
