Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@631291d0331839e2209107b6670479cc5217cc1f 🚀
  project.json
Due: pretty-quick --staged

chore: refactor glare effect
  src/index.ts
  src/react-parallax-tilt/types.public.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

fix(deps): update TypeScript
  package.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  28/cf905a40a7a9c3a08695ed4da5fac0fbda5cd2
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@28cf905a40a7a9c3a08695ed4da5fac0fbda5cd2 🚀
  project.json
Due: pretty-quick --staged

chore: update pkg size snapshot
  .size-snapshot.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  22/1438fd1ed63b3ae77383aa5eb0db30407d986d
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@221438fd1ed63b3ae77383aa5eb0db30407d986d 🚀
  project.json
Due: pretty-quick --staged

build(rollup): remove node-resolve config
  rollup.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore: refactor glare effect
  src/features/glare/test/glare.test.tsx
  src/features/tilt/test/tiltAxis.test.tsx
  src/features/tilt/test/tiltDisable.test.tsx
  src/features/tilt/test/tiltManualAngle.test.tsx
  src/features/tilt/test/tiltMaxAngle.test.tsx
  src/features/tilt/test/tiltOnPropChange.test.tsx
  src/features/tilt/test/tiltOnTouchMove.test.tsx
  src/features/tilt/test/tiltReset.test.tsx
  src/features/tilt/test/tiltReverse.test.tsx
  src/features/tilt/test/tiltTrackOnWindow.test.tsx
  src/index.ts
  src/types.d.ts
  src/utils/TiltTest.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore: run `demozap` on stories
  stories/EventTiltAngle/EventTiltAngle.demozap.tsx
  stories/EventTiltAngle/_EventTiltAngle.tsx
  stories/EventsAll/EventsAll.demozap.tsx
  stories/EventsAll/_EventsAll.tsx
  stories/TiltDisableAxis/TiltDisableAxis.demozap.tsx
  stories/TiltDisableAxis/_TiltDisableAxis.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@39ef32dd07a10ffa4d97beb6bcb4bd3b7ef4bba0 🚀
  iframe.html
  main.3614ce81.iframe.bundle.js
  main.5410a83c.iframe.bundle.js
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

chore: refactor glare effect
  src/index.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore: update storybook action
  .github/workflows/main.yml
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@5a1c0370f9b9922bcc55af75bc2a172844f3dec2 🚀
  iframe.html
  main.3614ce81.iframe.bundle.js
  main.ca60352a.iframe.bundle.js
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  ca/6b733b6521ddf5b714eb535e932db26db77c8a
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@ca6b733b6521ddf5b714eb535e932db26db77c8a 🚀
  project.json
Due: pretty-quick --staged

fix(deps): update TypeScript
  package-lock.json
  package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
  package.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  da/8ebef9ebfbd81aac93b0ad93d37998e46a87a8
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@da8ebef9ebfbd81aac93b0ad93d37998e46a87a8 🚀
  160.2bc28f344fddb5b5cfb0.manager.bundle.js
  196.c97b9eed51a4f83e4644.manager.bundle.js
  25.95039ca40258220888d4.manager.bundle.js
  25.95039ca40258220888d4.manager.bundle.js.LICENSE.txt
  250.632b41f24425657a7cb5.manager.bundle.js
  250.632b41f24425657a7cb5.manager.bundle.js.LICENSE.txt
  327.b42dfa47569738a68c4d.manager.bundle.js
  327.b42dfa47569738a68c4d.manager.bundle.js.LICENSE.txt
  453.299bca15974bab808fdb.manager.bundle.js
  536.15e2756fabc304465bae.manager.bundle.js
  560.91cd3ed9af3cf90732e9.manager.bundle.js
  602.491533f0f720451a4633.manager.bundle.js
  845.994d261bbb75ecfda217.manager.bundle.js
  945.49852c13.iframe.bundle.js
  945.49852c13.iframe.bundle.js.LICENSE.txt
  945.54a491cc.iframe.bundle.js
  952.5501af65aa288508d06d.manager.bundle.js
  952.5501af65aa288508d06d.manager.bundle.js.LICENSE.txt
  952.f65ab8e4a9103800dd61.manager.bundle.js
  iframe.html
  index.html
  project.json
  runtime~main.3bd7aaf31027b8e455bf.manager.bundle.js
  runtime~main.850c57db17635f33dd0c.manager.bundle.js
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@065b05dcd23c2b16dece8321e6267702fa654850 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@061bf60882152c6b141cb56a4f41742e760e6a78 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@b27e8e8f55fa907ed7808de3e684ed54e9ba3987 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  ce/d96e9193d5b4c40c15cdf9a7999617f00415f7
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@ced96e9193d5b4c40c15cdf9a7999617f00415f7 🚀
  945.07026bd6.iframe.bundle.js
  945.07026bd6.iframe.bundle.js.LICENSE.txt
  945.49852c13.iframe.bundle.js
  iframe.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  5a/ee3bb1ce675e198ec327122f9af5d146167696
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@5aee3bb1ce675e198ec327122f9af5d146167696 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@8681fde0587028bb2e3d171cdb1ba81a25120c82 🚀
  project.json
Due: pretty-quick --staged

Path conditions:
  pretty-quick --staged: any of: *
  eslint --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts: any of: *.{ts,tsx}
