Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

docs(readme): update definitions
  README.md
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@103b792cd41be3cc638b8a2e5e90807e2fb4340e 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  103b792cd41be3cc638b8a2e5e90807e2fb4340e
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@77c700977e91a48561063c3fd3aeed275e4971bb 🚀
  752.f16381b8.iframe.bundle.js
  752.f16381b8.iframe.bundle.js.LICENSE.txt
  804.f0b8e486.iframe.bundle.js
  iframe.html
  index.json
  main.8cb9d56c.iframe.bundle.js
  main.f896a4ac.iframe.bundle.js
  project.json
  runtime~main.211ce35c.iframe.bundle.js
  runtime~main.b329c6c5.iframe.bundle.js
  sb-addons/storybook-core-core-server-presets-0/common-manager-bundle.js
  sb-manager/globals-module-info.js
  sb-manager/globals-runtime.js
  sb-manager/runtime.js
  sb-preview/runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@625ede13c3f222f9db8efa6854bd448d66e4171d 🚀
  project.json
  sb-manager/globals-runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

chore(deps): update dependencies
  e2e/global.setup.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@5feb6747b833c0798b01e890e2d2d1b9af78e769 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update dependencies
  playwright.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@969525cadafbca83a683f71d5f7378d5ba350e30 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@7fb83441f848ff2b5634ede3b018af6e83e4744f 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update dependencies
  e2e/global.setup.ts
  playwright.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@220b59f36ac6d4d28af23cb429d3e754afa3134d 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@4ffaa12e41349a62c53306a4d0daf72f437dbbe2 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@ab29ee486cfcf74a5fda5596d383d7dd04af2113 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@853963805a0a37b8c08c594ec149ed9dbfea292c 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@49e2c04d6e0d8d257cd1f66720817fe3f30c7587 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@6c2d102c3ccbd2211b633915862d61580dcc32f3 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@034e8931f39a7fec044ba6c4e5616e2e48305052 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@12932f994785f4cffde90238b0295cc55ddcde99 🚀
  project.json
Due: pretty-quick --staged

fix(deps): update dependencies
  package-lock.json
  scripts/rollup.config.ts
  scripts/rollupConfigs.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@8326afdcd937ba8d74d359125e3de09fe9064ac3 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  8326afdcd937ba8d74d359125e3de09fe9064ac3
Due: pretty-quick --staged

chore(lintstaged): remove `tsc-files` lib
  .lintstagedrc
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@37aa3ef12975c81f8e8b0049a86cb0362ca26a16 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@df9b346b5a4eebc6fb37e3321d182fb446fa9665 🚀
  47.8af1c455.iframe.bundle.js
  47.8af1c455.iframe.bundle.js.LICENSE.txt
  559.294fcc5d.iframe.bundle.js
  iframe.html
  main.ae8ce8ef.iframe.bundle.js
  main.f896a4ac.iframe.bundle.js
  project.json
  runtime~main.391c258c.iframe.bundle.js
  runtime~main.b329c6c5.iframe.bundle.js
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@9473fef620bd052ac8800d1663d2ddc073153c6b 🚀
  project.json
Due: pretty-quick --staged

Path conditions:
  pretty-quick --staged: any of: *
  eslint --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts: any of: *.{ts,tsx}
