Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

fix(deps): update dependencies
  package-lock.json
  package.json
  rollup.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@5ab7beabadaded36b892c1c401783f91390089e8 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  5ab7beabadaded36b892c1c401783f91390089e8
Due: pretty-quick --staged

fix(deps): update dependencies
  rollup.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@736a4054a377c6d3db6a45f6a89437202899c77a 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  736a4054a377c6d3db6a45f6a89437202899c77a
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@0eee8208fae96ca004f1ea2b1837f47ffd7dd813 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  0eee8208fae96ca004f1ea2b1837f47ffd7dd813
Due: pretty-quick --staged

fix(deps): update dependencies
  README.md
Due: pretty-quick --staged

fix(deps): update dependencies
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@d614c91d262ec23c062fa7ff762e8b8da8b1cef8 🚀
  599.0fb5fc10.iframe.bundle.js
  848.f586e7f9.iframe.bundle.js
  848.f586e7f9.iframe.bundle.js.LICENSE.txt
  ReactParallaxTilt-stories.09a8c7e9.iframe.bundle.js
  ReactParallaxTilt-stories.43e6574d.iframe.bundle.js
  iframe.html
  main.5873bc86.iframe.bundle.js
  main.ce847c91.iframe.bundle.js
  project.json
  runtime~main.7f84334c.iframe.bundle.js
  runtime~main.d39afed1.iframe.bundle.js
  static/media/background.27198128.jpg
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  d614c91d262ec23c062fa7ff762e8b8da8b1cef8
Due: pretty-quick --staged

fix(deps): update dependencies
  package.json
  scripts/rollup.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

fix(deps): update dependencies
  scripts/configs.ts
  scripts/rollup.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@1b66bc2e2603b39fb7b01d317d61e4c6efdfe6b5 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  1b66bc2e2603b39fb7b01d317d61e4c6efdfe6b5
Due: pretty-quick --staged

fix(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

fix(deps): update dependencies
  package-lock.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@c00eec744d7945b6e75499fcd325e1bd7d3fdb57 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  c00eec744d7945b6e75499fcd325e1bd7d3fdb57
Due: pretty-quick --staged

docs(readme): update props type definitions
  README.md
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@86f87d7f321d378b3298345d07be4d0e1db8478c 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@cca34874e9ef6a5b2db8e53b81b86a0c363bf9be 🚀
  project.json
Due: pretty-quick --staged

fix(deps): update dependencies
  .storybook/main.ts
  package-lock.json
  package.json
  stories/EventParams/EventParams.demozap.css
  stories/EventParams/EventParams.demozap.tsx
  stories/EventTiltAngle/EventTiltAngle.demozap.css
  stories/EventTiltAngle/EventTiltAngle.demozap.tsx
  stories/FlipPage/FlipPage.demozap.css
  stories/FlipPage/FlipPage.demozap.tsx
  stories/FlipPage/Page/Page.css
  stories/FlipPage/Page/Page.tsx
  stories/FlipVH/FlipVH.demozap.css
  stories/FlipVH/FlipVH.demozap.tsx
  stories/MultipleTilt/MultipleTilt.demozap.css
  stories/MultipleTilt/MultipleTilt.demozap.tsx
  stories/MultipleTiltScroll/MultipleTiltScroll.demozap.css
  stories/MultipleTiltScroll/MultipleTiltScroll.demozap.tsx
  stories/ParallaxEffect/ParallaxEffect.demozap.css
  stories/ParallaxEffect/ParallaxEffect.demozap.tsx
  stories/ParallaxEffectGlareScale/ParallaxEffectGlareScale.demozap.css
  stories/ParallaxEffectGlareScale/ParallaxEffectGlareScale.demozap.tsx
  stories/ParallaxEffectImg/ParallaxEffectImg.demozap.css
  stories/ParallaxEffectImg/ParallaxEffectImg.demozap.tsx
  stories/ReactParallaxTilt.css
  stories/ReactParallaxTilt.stories.tsx
  stories/ScaleNoTilt/ScaleNoTilt.demozap.css
  stories/ScaleNoTilt/ScaleNoTilt.demozap.tsx
  stories/TiltDisableAxis/TiltDisableAxis.demozap.css
  stories/TiltDisableAxis/TiltDisableAxis.demozap.tsx
  stories/TiltImg/TiltImg.demozap.css
  stories/TiltImg/TiltImg.demozap.tsx
  stories/TiltManualInput/TiltManualInput.demozap.css
  stories/TiltManualInput/TiltManualInput.demozap.tsx
  stories/TiltScale/TiltScale.demozap.css
  stories/TiltScale/TiltScale.demozap.tsx
  stories/TrackOnWindow/TrackOnWindow.demozap.css
  stories/TrackOnWindow/TrackOnWindow.demozap.tsx
  stories/_DefaultComponent/DefaultComponent.css
  stories/_DefaultComponent/DefaultComponent.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

fix(deps): update dependencies
  stories/EventParams/_EventParams.tsx
  stories/EventTiltAngle/_EventTiltAngle.tsx
  stories/FlipPage/_FlipPage.tsx
  stories/FlipVH/_FlipVH.tsx
  stories/GlareEffect360/_GlareEffect360.tsx
  stories/GlareEffectNoTilt/_GlareEffectNoTilt.tsx
  stories/MultipleTilt/_MultipleTilt.tsx
  stories/MultipleTiltScroll/_MultipleTiltScroll.tsx
  stories/ParallaxEffect/_ParallaxEffect.tsx
  stories/ParallaxEffectGlareScale/_ParallaxEffectGlareScale.tsx
  stories/ParallaxEffectImg/_ParallaxEffectImg.tsx
  stories/ScaleNoTilt/_ScaleNoTilt.tsx
  stories/TiltDisableAxis/_TiltDisableAxis.tsx
  stories/TiltImg/_TiltImg.tsx
  stories/TiltManualInput/_TiltManualInput.tsx
  stories/TiltScale/_TiltScale.tsx
  stories/TrackOnWindow/_TrackOnWindow.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@5e99d3380a1c8978eb8b3c69e9cea622b249e25d 🚀
  599.0fb5fc10.iframe.bundle.js
  599.0fb5fc10.iframe.bundle.js.LICENSE.txt
  848.f586e7f9.iframe.bundle.js
  ReactParallaxTilt-stories.09a8c7e9.iframe.bundle.js
  ReactParallaxTilt-stories.ba8e0b37.iframe.bundle.js
  iframe.html
  main.5873bc86.iframe.bundle.js
  main.ce847c91.iframe.bundle.js
  project.json
  runtime~main.3705ab64.iframe.bundle.js
  runtime~main.7f84334c.iframe.bundle.js
  static/media/background.27198128.jpg
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  5e99d3380a1c8978eb8b3c69e9cea622b249e25d
Due: pretty-quick --staged

fix(deps): update dependencies
  .github/workflows/actions/setup_node-cache_dep-install_dep/action.yml
Due: pretty-quick --staged

fix(deps): update dependencies
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: pretty-quick --staged

fix(deps): update dependencies
  .github/workflows/test-e2e.yml
  README.md
Due: pretty-quick --staged

chore: playwright refactor
  .gitignore
Due: pretty-quick --staged

fix(deps): update dependencies
  playwright.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

fix(deps): update dependencies
  e2e/example.spec.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Path conditions:
  pretty-quick --staged: any of: *
  eslint --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts: any of: *.{ts,tsx}
