Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

.lintstagedrc:

{
  "*": [
    "pretty-quick --staged"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings 0"
  ],
  "*.{ts,tsx}": [
    "tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts"
  ]
}

chore(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@5b8be72426f2ca4c44fa3d272297a5726e1fd5c4 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@d9a468d5abe4e5903544088b9c12ed795f4fada6 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@44965a84c94fbdb0adbcdb1c3cef6a32cdd44b24 🚀
  project.json
Due: pretty-quick --staged

fix(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@f489b58395543a3981ad63f301a8eb1f832b5f47 🚀
  project.json
  sb-manager/chunk-I53COLQ6.js
  sb-manager/chunk-L35575BZ.js
  sb-manager/globals-runtime.js
  sb-manager/index.js
  sb-manager/runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  f489b58395543a3981ad63f301a8eb1f832b5f47
Due: pretty-quick --staged

chore: ignore Playwright tests
  .eslintrc.cjs
Due: pretty-quick --staged

fix(deps): update dependencies
  package-lock.json
  package.json
  src/utils/helperFns.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@2370b993818cc03e5168f7eebb041649a83e7c2a 🚀
  project.json
  sb-manager/chunk-O6NCVXC4.js
  sb-manager/chunk-RHK3WMPG.js
  sb-manager/globals-runtime.js
  sb-manager/index.js
  sb-manager/runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  2370b993818cc03e5168f7eebb041649a83e7c2a
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@4de7548d28530675ae0fc62b7b3ccc879888c020 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@25c38be1432b7764818ec8cd49b0fa8e5ba70d05 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  25c38be1432b7764818ec8cd49b0fa8e5ba70d05
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@2c6457835f01b626ef10098df9c9de4ed2bbfa29 🚀
  project.json
  sb-manager/WithTooltip-Y7J54OF7-3AIPQNGM.js
  sb-manager/WithTooltip-Y7J54OF7-CEHQ77YF.js
  sb-manager/chunk-FEE35O7J.js
  sb-manager/chunk-GFFGH77H.js
  sb-manager/chunk-KCHUFUTG.js
  sb-manager/chunk-O6NCVXC4.js
  sb-manager/chunk-RHK3WMPG.js
  sb-manager/chunk-S4VOIVUE.js
  sb-manager/chunk-TZAR34JC.js
  sb-manager/chunk-VMGB76WP.js
  sb-manager/chunk-XCO5HRLK.js
  sb-manager/globals-runtime.js
  sb-manager/index.js
  sb-manager/runtime.js
  sb-manager/syntaxhighlighter-JOJW2KGS-7BF26SBB.js
  sb-manager/syntaxhighlighter-JOJW2KGS-VF6EEVPI.js
  sb-preview/runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  2c6457835f01b626ef10098df9c9de4ed2bbfa29
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@7ce9a6b0b51656adaee4c28f4f31430a257a8869 🚀
  494.bf104e81.iframe.bundle.js
  494.f9522194.iframe.bundle.js
  494.f9522194.iframe.bundle.js.LICENSE.txt
  iframe.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  7ce9a6b0b51656adaee4c28f4f31430a257a8869
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@cb111a186964d411a326fb1cc1afd0cf8124843d 🚀
  559.af8345b7.iframe.bundle.js
  559.dfce65d5.iframe.bundle.js
  559.dfce65d5.iframe.bundle.js.LICENSE.txt
  iframe.html
  project.json
  runtime~main.a656033f.iframe.bundle.js
  runtime~main.b4854378.iframe.bundle.js
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  cb111a186964d411a326fb1cc1afd0cf8124843d
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@5d498c7ca10805c3a60171f06a21c3f7e5be6f1f 🚀
  project.json
  sb-manager/chunk-E3WK6ZOZ.js
  sb-manager/chunk-E6ABNH5R.js
  sb-manager/globals-runtime.js
  sb-manager/index.js
  sb-manager/runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

fix(deps): update dependencies
  package-lock.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@462f579cb2a6ba25cb396c37a2381a90091f62bc 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  462f579cb2a6ba25cb396c37a2381a90091f62bc
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@3de83e3c0088d15eb566310ff47247d0b1b60028 🚀
  26.28b0a42f.iframe.bundle.js
  26.28b0a42f.iframe.bundle.js.LICENSE.txt
  494.f9522194.iframe.bundle.js
  iframe.html
  index.html
  index.json
  main.055c267b.iframe.bundle.js
  main.e2fc607b.iframe.bundle.js
  project.json
  sb-addons/storybook-1/manager-bundle.js
  sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  sb-manager/WithTooltip-KJL26V4Q-5LS5AN27.js
  sb-manager/WithTooltip-Y7J54OF7-CEHQ77YF.js
  sb-manager/chunk-4A2Z7MHE.js
  sb-manager/chunk-B3YDJJJH.js
  sb-manager/chunk-BLWCBWKL.js
  sb-manager/chunk-E3WK6ZOZ.js
  sb-manager/chunk-E6ABNH5R.js
  sb-manager/chunk-FEE35O7J.js
  sb-manager/chunk-GUVK2GTO.js
  sb-manager/chunk-POEMYSUI.js
  sb-manager/chunk-XCO5HRLK.js
  sb-manager/chunk-XP3HGWTR.js
  sb-manager/chunk-ZR5JZWHI.js
  sb-manager/formatter-2WMMO6ZP-JI7RHVTW.js
  sb-manager/globals-module-info.js
  sb-manager/globals-runtime.js
  sb-manager/index.js
  sb-manager/runtime.js
  sb-manager/syntaxhighlighter-BP7B2CQK-WOJYHKQR.js
  sb-manager/syntaxhighlighter-JOJW2KGS-VF6EEVPI.js
  sb-preview/runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@83d4dfd63ea7b3faa531395d80b25df748e53a10 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@478e04428b4b3b62a6ac519261f31f120af626ff 🚀
  project.json
Due: pretty-quick --staged
