Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore: ignore Playwright tests
  jest.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore(deps): update dependencies
  .github/workflows/test.yml
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@de85d04a68515c18432c753e9e035f53f3c56aff 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  de85d04a68515c18432c753e9e035f53f3c56aff
Due: pretty-quick --staged

chore(deps): update dependencies
  README.md
Due: pretty-quick --staged

fix(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@02676070a3ec2381b276659e8b745ef09f052ce2 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  02676070a3ec2381b276659e8b745ef09f052ce2
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@26474a8f49ea93196abf7d567ca7ffb4a64f6aae 🚀
  project.json
  sb-manager/chunk-RWD4I6TP.js
  sb-manager/index.js
  sb-manager/runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

chore(deps): update dependencies
  playwright.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore(deps): update dependencies
  tsconfigs/tsconfig.prod.json
Due: pretty-quick --staged

chore(deps): update dependencies
  .storybook/main.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore(deps): update dependencies
  e2e/example.spec.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore(deps): update dependencies
  e2e/tilt.spec.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@de10aa39eefafad4bf851d35c9bf90fdd838ee30 🚀
  project.json
Due: pretty-quick --staged

chore: ignore Playwright tests
  .eslintrc.cjs
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@65b996d4c044be7387fd9796180827f2b396fb72 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@5af85f6fc2a4c72580492dea9a110e9b9a8d3e4b 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@c9fe3dfa07f743b94a32abffcb070583ef2aca90 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update dependencies
  scripts/configs.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@fc5eadda6309a93618ebc823b37b42cd2a38ae1d 🚀
  project.json
  sb-manager/chunk-NMB3SATH.js
  sb-manager/index.js
  sb-manager/runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@a945267c9bb662cd3f480259682da232a83577fd 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@9aa8b15bd5cdbcad5a2a9549686f0cf69b0e7292 🚀
  project.json
Due: pretty-quick --staged

Path conditions:
  pretty-quick --staged: any of: *
  eslint --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts: any of: *.{ts,tsx}
