Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@486118052c0690ab726a14d83512e5c785a0a4a0 🚀
  project.json
Due: pretty-quick --staged

chore: upgrade CI to Node v16
  .github/workflows/tsc.yml
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@3e2231de25dac86172c441415b916c805077c2fb 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
  package.json
Due: pretty-quick --staged

fix(deps): update TypeScript
  package-lock.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  3d/1e3eeab2233946c3f68a3d0194f01b44a4a103
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@3d1e3eeab2233946c3f68a3d0194f01b44a4a103 🚀
  project.json
Due: pretty-quick --staged

chore(eslint): update import rules
  .eslintrc.js
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@11310966d2efb957599e039ab6d878e4fe820092 🚀
  project.json
Due: pretty-quick --staged

fix(deps): update TypeScript
  package-lock.json
  package.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  d6/1fff48f35dec57bf29cb9b42a969658db3d08e
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@d61fff48f35dec57bf29cb9b42a969658db3d08e 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@597a23e03361f0fd52f8db32f7db6ea2b15287dd 🚀
  project.json
Due: pretty-quick --staged

chore(jest): extend config
  jest.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@1231956041d857784aff02c9c5d04af77ff6d038 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  b7/c7931f3df5b72348614b609ae646749ad00473
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@b7c7931f3df5b72348614b609ae646749ad00473 🚀
  209.1228d82248d5b4c68b26.manager.bundle.js
  209.dc525696f8bcc4a890ba.manager.bundle.js
  209.dc525696f8bcc4a890ba.manager.bundle.js.LICENSE.txt
  495.2aa8f365.iframe.bundle.js
  495.2aa8f365.iframe.bundle.js.LICENSE.txt
  495.52e98b71.iframe.bundle.js
  807.0f0ea37f76554d0b2083.manager.bundle.js
  807.0f0ea37f76554d0b2083.manager.bundle.js.LICENSE.txt
  807.7eb66345a9ec14821de3.manager.bundle.js
  iframe.html
  index.html
  project.json
  runtime~main.5d3d9aad13b7ead46765.manager.bundle.js
  runtime~main.830034fe022bdd645946.manager.bundle.js
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@c705d394fb36f8dac014dd84103cf26e5b515fb0 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@5271ee98ba0089986167cef702d2794034f19735 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@0cffd28ec3e275498d42f9eddc993dd7177a6d07 🚀
  209.c4f6cc89d07cde7d9e2f.manager.bundle.js
  209.c4f6cc89d07cde7d9e2f.manager.bundle.js.LICENSE.txt
  209.dc525696f8bcc4a890ba.manager.bundle.js
  495.2aa8f365.iframe.bundle.js
  495.e86879f7.iframe.bundle.js
  495.e86879f7.iframe.bundle.js.LICENSE.txt
  iframe.html
  index.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@6e0f32161570387c30359d99474d9f9a8304c6e2 🚀
  209.c4f6cc89d07cde7d9e2f.manager.bundle.js
  209.f51a6db72607fd1e3afb.manager.bundle.js
  209.f51a6db72607fd1e3afb.manager.bundle.js.LICENSE.txt
  495.5fd72e8a.iframe.bundle.js
  495.5fd72e8a.iframe.bundle.js.LICENSE.txt
  495.e86879f7.iframe.bundle.js
  iframe.html
  index.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@f1b7ba5c81f85f6c65492fd018bd6eac215909d3 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@c1cca7e6f87d6c0f4ef30109f19c5e3b439d84b4 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  fb/d79048d2fd8d957f5e5f9e1bc90f11941aebb7
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@fbd79048d2fd8d957f5e5f9e1bc90f11941aebb7 🚀
  209.f51a6db72607fd1e3afb.manager.bundle.js
  209.f9224bb9d433a53c19e8.manager.bundle.js
  209.f9224bb9d433a53c19e8.manager.bundle.js.LICENSE.txt
  495.5fd72e8a.iframe.bundle.js
  495.e51a05ee.iframe.bundle.js
  495.e51a05ee.iframe.bundle.js.LICENSE.txt
  iframe.html
  index.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

fix(deps): update TypeScript
  package.json
Due: pretty-quick --staged

Path conditions:
  pretty-quick --staged: any of: *
  eslint --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts: any of: *.{ts,tsx}
