Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

fix(deps): update TypeScript
  package-lock.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  db/80831d8c615cfced73505d0424907435e79c70
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@db80831d8c615cfced73505d0424907435e79c70 🚀
  project.json
Due: pretty-quick --staged

fix(deps): update TypeScript
  package.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  7e/c677f9835884c692656a699e1f1ca3b374215d
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@7ec677f9835884c692656a699e1f1ca3b374215d 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
  package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@ef5ac9150cd470b3c9cb35b8ead32d19e3843a40 🚀
  209.2be3bc20c281fee3af66.manager.bundle.js
  209.2be3bc20c281fee3af66.manager.bundle.js.LICENSE.txt
  209.f9224bb9d433a53c19e8.manager.bundle.js
  495.e51a05ee.iframe.bundle.js
  495.e74858c0.iframe.bundle.js
  495.e74858c0.iframe.bundle.js.LICENSE.txt
  iframe.html
  index.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

chore(deps): remove `renovate`
  renovate.json
Due: pretty-quick --staged

fix(deps): update TypeScript
  package-lock.json
  package.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  0c/61321c69c87aa2db7e6e263718b6a07ec33428
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@0c61321c69c87aa2db7e6e263718b6a07ec33428 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@c916a33c8e54996af7c1bf2b3a651e10f2882a58 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@8c777c444efe40b7f9f525b2836f799946db581f 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@d9310570d905010dfa809c1de4017ee203e71df1 🚀
  209.2be3bc20c281fee3af66.manager.bundle.js
  209.6d37498f5af0a82c7fae.manager.bundle.js
  209.6d37498f5af0a82c7fae.manager.bundle.js.LICENSE.txt
  495.c72dbb5c.iframe.bundle.js
  495.c72dbb5c.iframe.bundle.js.LICENSE.txt
  495.e74858c0.iframe.bundle.js
  iframe.html
  index.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@8433ea66f5942fe82ce6997d7456d9a8981f65f6 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@f02b6fc25ef3e190c86363fc4d6edbc4636a308e 🚀
  209.62af1e57af3f8b8cd306.manager.bundle.js
  209.62af1e57af3f8b8cd306.manager.bundle.js.LICENSE.txt
  209.6d37498f5af0a82c7fae.manager.bundle.js
  495.49a2e5c0.iframe.bundle.js
  495.49a2e5c0.iframe.bundle.js.LICENSE.txt
  495.c72dbb5c.iframe.bundle.js
  iframe.html
  index.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  74/1505c0ba939b88742d92c4c624912a725b4d66
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@741505c0ba939b88742d92c4c624912a725b4d66 🚀
  209.1a86008e9f0e53af0793.manager.bundle.js
  209.1a86008e9f0e53af0793.manager.bundle.js.LICENSE.txt
  209.62af1e57af3f8b8cd306.manager.bundle.js
  495.49a2e5c0.iframe.bundle.js
  495.fa905bdc.iframe.bundle.js
  495.fa905bdc.iframe.bundle.js.LICENSE.txt
  iframe.html
  index.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@dda0ad5d88ecfd1c282d446c681ce16077f08958 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@1a642d126a4e6fc3fd7fd301dc69345c843adb00 🚀
  project.json
Due: pretty-quick --staged

chore: upgrade Storybook to 6.x
  .storybook/main.ts
  .storybook/preview.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@d7f4f0674bb55989d92208c0a7b4a420098a22e9 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  .eslintrc.js
  .github/workflows/build.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/npm-release.yml
  .husky/pre-push
  .size-snapshot.json
  package-lock.json
  package.json
  rollup.config.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@ccf36f51fe365c98c49700364e9c68092ddf6bf7 🚀
  209.1a86008e9f0e53af0793.manager.bundle.js
  209.a978809815d4c58a7faa.manager.bundle.js
  209.a978809815d4c58a7faa.manager.bundle.js.LICENSE.txt
  495.108656a4.iframe.bundle.js
  495.108656a4.iframe.bundle.js.LICENSE.txt
  495.fa905bdc.iframe.bundle.js
  807.0f0ea37f76554d0b2083.manager.bundle.js
  807.95ec6d66a69a5c534df0.manager.bundle.js
  807.95ec6d66a69a5c534df0.manager.bundle.js.LICENSE.txt
  iframe.html
  index.html
  main.a35de141.iframe.bundle.js
  main.ffeed69c.iframe.bundle.js
  main.ffeed69c.iframe.bundle.js.LICENSE.txt
  project.json
  runtime~main.5d3d9aad13b7ead46765.manager.bundle.js
  runtime~main.86c3d4fbca9a902dbf8b.manager.bundle.js
Due: pretty-quick --staged, eslint --max-warnings 0

fix(deps): update dependencies
  package.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  6b/7ce4db54049f36fd50f79c7732746a5dc1278e
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@6b7ce4db54049f36fd50f79c7732746a5dc1278e 🚀
  project.json
Due: pretty-quick --staged

Path conditions:
  pretty-quick --staged: any of: *
  eslint --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts: any of: *.{ts,tsx}
