Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Notes added by 'git notes add'
  b0/5e9f571a61803576d648bd795065cdddfa0bd2
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@b05e9f571a61803576d648bd795065cdddfa0bd2 🚀
  293.a12b9d67.iframe.bundle.js
  293.a12b9d67.iframe.bundle.js.LICENSE.txt
  293.aae660eb.iframe.bundle.js
  iframe.html
  project.json
  sb-manager/chunk-XOKB6H63.js
  sb-manager/index.js
  sb-manager/runtime.js
  sb-preview/runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

chore(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@1e21ef90e0e77d53cf0e0721bf896e5b3e3b4a0a 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@4e12798521fa683461311a4269efa124e9ebe725 🚀
  project.json
Due: pretty-quick --staged

chore(lintstaged): remove `pretty-quick` lib
  .lintstagedrc
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@493d2e2759f07b27918e118f88d3bfb5d2f3cf47 🚀
  project.json
  sb-manager/chunk-6XESPNK2.js
  sb-manager/index.js
  sb-manager/runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

fix(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

chore: remove redundant type
  src/react-parallax-tilt/ReactParallaxTilt.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@0179b040199ba9137ecdc6f28c3c61e595cf5222 🚀
  293.8f5a2325.iframe.bundle.js
  293.8f5a2325.iframe.bundle.js.LICENSE.txt
  293.a12b9d67.iframe.bundle.js
  iframe.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  01/79b040199ba9137ecdc6f28c3c61e595cf5222
Due: pretty-quick --staged

chore(eslint): update `typescript-eslint` to v6
  .eslintrc.js
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@fcccdb1f2e52057b93972054426f080bed234083 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@af32fb889f1b982c750b59c1f1a0e10ec15a4981 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update dependencies
  package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@753da9be921ce022c53236ec01afad27567d75fd 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  8e/5561997b302f0037ca6339fd35deccf6a97fe9
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@8e5561997b302f0037ca6339fd35deccf6a97fe9 🚀
  293.52b2294c.iframe.bundle.js
  293.52b2294c.iframe.bundle.js.LICENSE.txt
  293.8f5a2325.iframe.bundle.js
  iframe.html
  project.json
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@589b0745f6c4caccc4c137c63aa67d160d3b7d18 🚀
  iframe.html
  index.html
  main.3079be7d.iframe.bundle.js
  main.d0c84c79.iframe.bundle.js
  project.json
  sb-manager/GlobalScrollAreaStyles-DZEYMYDM-UAEZM2KF.js
  sb-manager/GlobalScrollAreaStyles-XIHNDKUY-F4JIPIHL.js
  sb-manager/OverlayScrollbars-OGE3XJTA-T3S33YR7.js
  sb-manager/OverlayScrollbars-VAV6LJAB-K3TMPSMY.js
  sb-manager/WithTooltip-FBT32F6Q-7QJ37TCY.js
  sb-manager/WithTooltip-I4CCNYWD-ZW5IOTVO.js
  sb-manager/chunk-54KM6K5Z.js
  sb-manager/chunk-6XESPNK2.js
  sb-manager/chunk-AA6TEL5N.js
  sb-manager/chunk-AM2ZNZZH.js
  sb-manager/chunk-F3MVQVF6.js
  sb-manager/chunk-FENICTK6.js
  sb-manager/chunk-FPTBIX6P.js
  sb-manager/chunk-IPZYHIL3.js
  sb-manager/chunk-R5BIZIS3.js
  sb-manager/formatter-OJ5LH2CX-IQX6U4TO.js
  sb-manager/globals.js
  sb-manager/index.js
  sb-manager/runtime.js
  sb-manager/syntaxhighlighter-QTQ2UBB4-F5YUFYAB.js
  sb-manager/syntaxhighlighter-SIPZPD4I-WOB5MYBW.js
  sb-preview/runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@0096c5dd434b5d66b5cfb524fede7362e1b27918 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@7392d2a36f911db199c2e38477be0424d3d27227 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@9cfb6d2e8e9a4317081248b4539867d18774d1f1 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@d3d653c78806b695471787521c65fea2363388d8 🚀
  project.json
  sb-manager/GlobalScrollAreaStyles-DZEYMYDM-MLCKG773.js
  sb-manager/GlobalScrollAreaStyles-DZEYMYDM-UAEZM2KF.js
  sb-manager/WithTooltip-I4CCNYWD-ZW5IOTVO.js
  sb-manager/WithTooltip-SGMXWZWO-HCFC3XFC.js
  sb-manager/chunk-7CCV2CKD.js
  sb-manager/chunk-CBY7LR4Y.js
  sb-manager/chunk-FPTBIX6P.js
  sb-manager/chunk-FXGJ2IFE.js
  sb-manager/chunk-IPZYHIL3.js
  sb-manager/chunk-KJEZFYE2.js
  sb-manager/chunk-QPL63VNK.js
  sb-manager/index.js
  sb-manager/runtime.js
  sb-manager/syntaxhighlighter-2MZ4Y3HO-I2ULF7B3.js
  sb-manager/syntaxhighlighter-SIPZPD4I-WOB5MYBW.js
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@7c29059f5c7dacccc7c799d8f27a3abeb6a641a5 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@f90bd905cdc52ab4f4176e8de646b7fbdd4bfb50 🚀
  project.json
Due: pretty-quick --staged

Path conditions:
  pretty-quick --staged: any of: *
  eslint --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts: any of: *.{ts,tsx}
