Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

.lintstagedrc:

{
  "*": [
    "pretty-quick --staged"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings 0"
  ],
  "*.{ts,tsx}": [
    "tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts"
  ]
}

Deploying to gh-pages from @ mkosir/react-parallax-tilt@340ad9fc54cc46df7aed3a0c2c118e22a5a03e94 🚀
  project.json
  sb-manager/globals-runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

fix(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@b6027e8fb7159cc225d0571e2f4dfd679c143b9b 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  b6027e8fb7159cc225d0571e2f4dfd679c143b9b
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@dba486a6b6c0084f6d64de140a729355a37e2c6d 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@f38efcae02ce1857234f6cfcfde02813dc382368 🚀
  project.json
Due: pretty-quick --staged

feat: updated tiltEnable so that the element can return to its original state immediately.
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/features/tilt/types.public.ts
  src/react-parallax-tilt/ReactParallaxTilt.tsx
  stories/ReactParallaxTilt.stories.tsx
  stories/TiltEnable/TiltEnable.css
  stories/TiltEnable/TiltEnable.demozap.tsx
  stories/TiltEnable/_TiltEnable.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Delete package-lock.json
  package-lock.json
Due: pretty-quick --staged

Revert "feat: updated tiltEnable so that the element can return to its original state immediately."
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@7dd520830e85e8473482a77a2875cc6440f99af4 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  7dd520830e85e8473482a77a2875cc6440f99af4
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@14981ae7d31b26e3854d3d9b898267abb3eb2b3c 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@609b63f462cd534158a89da933eadaecf4644a75 🚀
  704.909012aa.iframe.bundle.js
  735.50c5188e.iframe.bundle.js
  804.f0b8e486.iframe.bundle.js
  804.f0b8e486.iframe.bundle.js.LICENSE.txt
  iframe.html
  index.html
  main.65dcbd8c.iframe.bundle.js
  main.8cb9d56c.iframe.bundle.js
  project.json
  runtime~main.8c4cd484.iframe.bundle.js
  runtime~main.fbce06a7.iframe.bundle.js
  sb-manager/globals-module-info.js
  sb-manager/globals-runtime.js
  sb-manager/runtime.js
  sb-preview/runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

chore(deps): hide panel
  .storybook/manager.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@08c65ab8b41b526e54979207097f3b1b8f4d728e 🚀
  project.json
  sb-addons/storybook-1/manager-bundle.js
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@3a297c0d1b50cbfe89d19db58993059ee6f63b7b 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  3a297c0d1b50cbfe89d19db58993059ee6f63b7b
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@e7d56fbe79626c92e3350b38fccfecd4134c7387 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@1d24a5e685dd39b6bc8692b3b0b71e92b598a55f 🚀
  project.json
  sb-manager/globals-runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

fix(deps): update dependencies
  package-lock.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@d22aeac5e8e6cf03ad30e2ef13e6a5939f7c36eb 🚀
  559.294fcc5d.iframe.bundle.js
  559.294fcc5d.iframe.bundle.js.LICENSE.txt
  559.e0009d48.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.d7b28be5.iframe.bundle.js
  runtime~main.fbce06a7.iframe.bundle.js
  sb-manager/globals-runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

Notes added by 'git notes add'
  d22aeac5e8e6cf03ad30e2ef13e6a5939f7c36eb
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@9efffe0e6e4c9558576ff8f6a1f9bc5edc1b5cd9 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  9efffe0e6e4c9558576ff8f6a1f9bc5edc1b5cd9
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@f4a6ab0ef522dfcfb0425a8a031c617e55c3cd47 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@3f4c48810f06d8c52e8bdecdcea7b337afb73124 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  3f4c48810f06d8c52e8bdecdcea7b337afb73124
Due: pretty-quick --staged
