Repository mkosir/react-parallax-tilt: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

chore(deps): update dependencies
  tsconfig.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@526d7e56bd3cf6f433542010d925060d75ed5155 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update dependencies
  e2e/on-move-params.spec.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@72482599e582fbd753b47ec101f3dbbc077cc282 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@1b2477e87ade01195086024b71651bb74ecd7962 🚀
  project.json
Due: pretty-quick --staged

chore: ignore Playwright tests
  .eslintrc.cjs
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@805cd0fd6f348837887bac2773a20235af879f32 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update dependencies
  src/features/glare/Glare.ts
  src/features/glare/types.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@faceb20915e03a387a4a44b1c04a0528578ac7d1 🚀
  project.json
Due: pretty-quick --staged

chore(deps): update dependencies
  src/features/glare/test/glare.test.tsx
  src/features/tilt/test/tiltAxis.test.tsx
  src/features/tilt/test/tiltManualAngle.test.tsx
  src/features/tilt/test/tiltMaxAngle.test.tsx
  src/features/tilt/test/tiltOnEnter.test.tsx
  src/features/tilt/test/tiltOnLeave.test.tsx
  src/features/tilt/test/tiltOnPropChange.test.tsx
  src/features/tilt/test/tiltReset.test.tsx
  src/features/tilt/test/tiltReverse.test.tsx
  src/features/tilt/test/tiltTrackOnWindow.test.tsx
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@c5905281001dd60a4ac417dd807e9be27ee6e135 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@546b50db0972987d7aa21b311d35114e5c91cc6b 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@b4852dd592ff9ebfb05654ac2f24a9b89150661e 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@c2ac57639fbf6cd0b0c34178a28b30b4b0b9ad29 🚀
  599.0fb5fc10.iframe.bundle.js
  672.fd7335c9.iframe.bundle.js
  672.fd7335c9.iframe.bundle.js.LICENSE.txt
  804.cd531e2f.iframe.bundle.js
  804.cd531e2f.iframe.bundle.js.LICENSE.txt
  92.88cb91fd.iframe.bundle.js
  ReactParallaxTilt-stories.07484568.iframe.bundle.js
  ReactParallaxTilt-stories.22677ed7.iframe.bundle.js
  iframe.html
  main.5873bc86.iframe.bundle.js
  main.c1e3ad70.iframe.bundle.js
  project.json
  runtime~main.1cec2fdf.iframe.bundle.js
  runtime~main.4b81a522.iframe.bundle.js
  sb-manager/chunk-GGCOS3UQ.js
  sb-manager/index.js
  sb-manager/runtime.js
  sb-preview/runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

Deploying to gh-pages from @ mkosir/react-parallax-tilt@e7f95936db7377b753f4534c8c5dfbfbdbbc5742 🚀
  project.json
Due: pretty-quick --staged

chore(docs): added documentation for securely testing gyroscope in localhost
  README.md
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@17916cc57f9da822fefcdd2967716b61954f0378 🚀
  project.json
Due: pretty-quick --staged

fix(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@dc5097a38cee6a5f10bf7f5435d40522235123e9 🚀
  project.json
Due: pretty-quick --staged

Notes added by 'git notes add'
  dc5097a38cee6a5f10bf7f5435d40522235123e9
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@4d51085152c6bb375612d2ee3c6345a67bad6bf4 🚀
  project.json
  sb-manager/chunk-NDTB3HST.js
  sb-manager/index.js
  sb-manager/runtime.js
  sb-preview/runtime.js
Due: pretty-quick --staged, eslint --max-warnings 0

chore(deps): update dependencies
  e2e/consts.ts
  e2e/events.spec.ts
  e2e/on-move-params.spec.ts
Due: pretty-quick --staged, eslint --max-warnings 0, tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts

Deploying to gh-pages from @ mkosir/react-parallax-tilt@1464a86c6833b57d670f1dcc271fb1dcf4f73d18 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@c626b3f459d0f11b4954e0fdb09d3fe4db5443c3 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@2e38eb35adffc29161696bba1563d512aee8a192 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@6abc9ecd2c17b5713a297682fd46da46ea57f1de 🚀
  project.json
Due: pretty-quick --staged

Deploying to gh-pages from @ mkosir/react-parallax-tilt@ed384ea859c293ddd03f977fc17a636192e227c1 🚀
  project.json
Due: pretty-quick --staged

Path conditions:
  pretty-quick --staged: any of: *
  eslint --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  tsc-files --noEmit -p tsconfig.dev.json stories/types/images.d.ts: any of: *.{ts,tsx}
